*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text, .image{
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s,opacity 0.4s ;
}

.text.not-visible, .image.not-visible{
    transform: translateX(50px);
    opacity: 0;
}



body{
    background-color: #010526;
}
section{
padding-bottom: 130px;
    
}

/****************** DISPLAY******************/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
/****************** IMAGES*****************/
img{
    display: block;
     max-width: 100%;  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}


/****************** FONT******************/
/* FONT LOGO */
h4{
    font-family: 'Hind';
    font-style: normal;
    font-weight: bold;
    font-size: clamp(18px, 6vw, 30px);
    color: #FFFFFF;
}

/* FONT TITRES/P*/
h1, h2, h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

h1{
    /* text-align: center; */
    font-size: clamp(35px, 8vw, 120px);
    line-height: clamp(40px, 8vw, 120px);
    margin-bottom: 5%;
}

h2{
    font-size: clamp(20px, 6vw, 60px);
    letter-spacing: 0.05em;
    color: #010526;
}

h3{
    font-size: clamp(20px, 6vw, 35px);
    letter-spacing: 0.05em;
    color: white;
    margin-bottom: 53px;
}

p, .content{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(19px, 6vw, 25px);
    line-height: 31px;
    color: white;
    margin-bottom: 20px;
}

.p1{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
}

label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(19px, 6vw, 30px);
    letter-spacing: 0.15em;
    color:white;
    margin-bottom: 15px;
}




/*********************************************************/
/****************** SECTION 1 - ACCUEIL *******************/
.section1{
    /* min-height: 721px; */
    min-height: 600px;
}

.logo{
    justify-content: flex-start;
    align-items: center;
}

header{
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
    margin-bottom: 30px;
}


.introAccueil{
    font-weight: 600;
    font-size: clamp(18px, 10vw, 25px);
    line-height: clamp(20px, 10vw,40px);
    color: #FFFFFF;
    /* width: min(500px, 100%); */
}

.containerAccueil {
   
    position: relative;
    border: 4px solid red;
    align-items: center;
    justify-content: space-between;
}

.containerResponsive{
    padding: 2%;
    width: min(800px, 100%);
    border: 4px solid yellow;
    justify-content: flex-start;
    align-items:  flex-start;
}


.hashtagPhone{
    display: none;
}

.hashtagResponsive{
    display: none;
}


.hashtahPhonePetit{
    display: none;
}

/**************************************************************/
/****************** SECTION 2 - INTRODUCTION*******************/
.cercleContainer{
    width: min(36vw, 100%);
    height: 36vw;
    border-radius: 50%;
    background-color:#ECB942; 
}
    

.introSect2{
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}

.svgContainer{
    position: absolute;
    width: 100%;
    bottom: 0;
}



.section2{
    position: relative;
    border: 4px solid sandybrown;
    justify-content: space-between;
    align-items: center;
}


.paraStyle{
    width: min(800px, 95%);
    font-size: 19px;
}

.paraStyle span{
    font-weight: bold;
}

.textCercle{
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.textCercle{
    font-weight: bold;
    font-size: clamp(19px, 12vw, 25px);
    line-height: 31px;
    color: #010526;
} 





/***************************************************************/
/****************** SECTION 3 - NOTRE MISSION*******************/

.section3{
    justify-content: space-between;
    height: auto;
    padding-left: 5%;
    border: 4px solid yellow;
    margin-top: 120px;
    flex-wrap: wrap;
}


.white{
    color: white;
}

.containerIcones{
    flex-wrap: wrap;
    background-color: #EE7A7F;
    width: min(953px, 100%);
    gap: 100px
}

 .icone{
     border: 4px solid red;
     gap: 45px;
    position: relative;
    bottom:  5vw;
} 

.textIcone{
    color: #010526;
    font-weight: bold;
    font-size: clamp(20, 10vw, 25px);
    text-align: center;
}

.titreResponsiveMission{
    display: none;
}



/**********************************************************/
/****************** SECTION 4 - SPOTLIGHT*******************/

.freetheNipple{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 10vw, 30px);
    letter-spacing: 0.15em;
    color: #010526;
    margin-bottom: 15px;
}

.h2Spotlight{
    margin-bottom: 20px;
}

.section4{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap-reverse;
}


.phoneResponsive{
    display: none;
}


/**************************************************************/
/****************** SECTION 5 - NOTRE MISSION*******************/

.section5{
    background: #EE7A7F;
    padding-top: 100px;
}

.titreResponsive{
    display: none;
}

/* PARTIE 1 */
.force{
    position: relative;
    border: 4px solid red;
    width: 75%;
    justify-content: flex-end;
    align-items: flex-end;
}

.donnerForce{
     background: #010526; 
     padding:  15%;
     margin-right: 90px;
     margin-top: 90px;
     margin-bottom:  200px;
}

.titreHorizontal{
position: absolute;
top: 10px;
right: 80px;
}

.titreVertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;    
    position: absolute;
    top: 25px;
    /* right: 50px; */
}

.canape{

    position: absolute;
}

.canapeResponsive{
    display: none;
}


 /* PARTIE 2 */
.section5 .hashtagGeant{
    border: 4px solid blue;
    justify-content: flex-end !important;
    align-items: flex-end  !important;
    position: relative;
}


.provoquer{
    padding:  12%;
    background: #010526; 
    justify-content: flex-start;
     align-items: flex-start;
    width: 75%;
}

.scandaliser{
    padding:  10%;
    border: 4px solid purple;
    width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
}

.provoquerContainer{
    justify-content: flex-end;
    align-items: flex-end;
}


.hashtag{
position: absolute;
left: -450px;
top: -10%;
/* transform: translateX(-350px); */
}


/*****************************************************/
/****************** SECTION 6 - FAQ *******************/

.section6{
    justify-content: space-between;
    background: #EE7A7F;
    flex-wrap: wrap;

}


.faq-container{
    margin-right: 100px;
    width: 40%;
    border: 4px solid greenyellow;
    padding: 5%;
}

.faq-container h2{
    color: #FFFFFF;
    margin-bottom: 50px;
} 


.faq-container span {
    float: right;
    transition: 0.4s;
}

label{
    display: block;
    cursor: pointer;
    /* width: 100%; */
    text-align: left;
    transition: 0.4s;
}

label:hover{
    color: #4AA1EB
}

input{
    display: none;
}

.content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
}

input:checked ~ .content{
    height: 300px;
    opacity: 1;
}

input:checked ~ label{
    color:#4AA1EB;
    font-weight: 700;
}

input:checked ~label span {
    transform: rotate(180deg);
    transition: 0.4s;
}


/*******************************************************/
/****************** SECTION 7 - FOOTER *******************/

.section7{
padding-bottom: 5px;
}

.hashtagDefile{
    font-family: 'Source Sans Pro';
    font-size: 35px;
    letter-spacing: 0.05em;
    color: white;

}

.marquee-rtl {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;                   
    overflow: hidden;                    

  }
  .marquee-rtl > :first-child {
      color: white;
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 150s infinite linear;
  }
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }






/**************************************************************/
/****************** MEDIA QUERIES *******************/
/**************************************************************/

/*************************** 1309PX****************************/
/**************************************************************/

@media (max-width: 1309px){
    /**************************************************************/
    /****************** SECTION 3 - INOTRE MISSION*******************/

    .section3{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    }

.titreDeskstopMission{
    display: none;
}
.titreResponsiveMission{
    display: block;
    text-align: center;
}

    .containerIcones{
     width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 100px
    }

 .icone{
    bottom:  0vw;
    } 
    }

/*************************** 1265PX****************************/
/**************************************************************/

@media (max-width: 1265px){

    h2{
        font-size: 45px;
        letter-spacing: 0.05em;
        color: #010526;
    }

    /**************************************************************/
    /****************** SECTION 2 - INTRODUCTION*******************/

    .textCercle{
        font-size: 25px;
        padding: 10px;
        line-height: 31px;
    }

    .paraStyle{
        padding: 5%;
    }
    .introSect2{
        gap: 50px;
    }

    .section2{
        height: 900px;
    }

    .section2 h2{
        text-align: center;
    }
}

/*************************** 1220PX****************************/
/**************************************************************/

@media (max-width: 1220px){

/*****************************************************/
/****************** SECTION 6 - FAQ *******************/

.section6{
    flex-direction: column;
    justify-content: center;
    flex-direction: center;
    background: #EE7A7F;
    flex-wrap: wrap;

}


.faq-container{
    margin-right: 0px;
    width: 100%;
    border: 4px solid greenyellow;
    padding: 5%;
}

.section6 h2{
    text-align: center;
}

}




/*************************** 1108PX****************************/
/**************************************************************/

@media (max-width: 1108px){
/*********************************************************/
/****************** SECTION 1 - ACCUEIL *******************/
.section1{
    /* min-height: 721px; */
    min-height: 600px;
}
.hashtagResponsive{
    display: block;
}

.hashtagDeskstop{
    display: none;
}

}
/*************************** 1053PX****************************/
/**************************************************************/
@media (max-width: 1053px){
    /**************************************************************/
    /****************** SECTION 2 - INTRODUCTION*******************/
    .cercleContainer{
        width: 400px;
        height: 400px;
    }
    
    /**********************************************************/
    /****************** SECTION 4 - SPOTLIGHT*******************/
    .section4{
    flex-direction: column-reverse;
    align-items: center;    
    justify-content: center;
    }

    .phoneDeskstop{
     display: none;
    }

    .phoneResponsive{
     display:block;
    }


    /**************************************************************/
    /****************** SECTION 5 - NOTRE MISSION*******************/
    /* PARTIE 1 */
    .force{
        width: 100%;
    }

.donnerForce{
    padding:  10%;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom:  240px;
}

.titreResponsive{
    color: white;
    text-align: center;
    display: block;
    align-self: center;
}

.titreHorizontal{
    display: none;
}

.titreVertical{
 display: none;
}

/* PARTIE 2 */
.provoquer{
    padding:  12%;
    width: 100%;
}

.scandaliser{
    width: 65%;
}

}

 

/*************************** 905PX****************************/
/**************************************************************/

@media (max-width: 905px){
p{
    font-size: 19px;
}
/**************************************************************/
/****************** SECTION 2 - INTRODUCTION*******************/
.cercleContainer{
    width: 400px;
    height: 400px;
}
    

/**************************************************************/
/****************** SECTION 5 - NOTRE MISSION*******************/

.scandaliser{
    width: 70%;
}


.hashtag{
    width: 50%;
    left: -50px;
    top: 50px;
    }
}

@media(max-width: 856px){
/*********************************************************/
/****************** SECTION 1 - ACCUEIL *******************/
.section1{
    /* min-height: 721px; */
    min-height: 600px;
}

.logo{
    justify-content: flex-start;
    align-items: center;
}

header{
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
    margin-bottom: 30px;
}


.introAccueil{
    font-weight: 600;
    font-size: clamp(18px, 10vw, 25px);
    line-height: clamp(20px, 10vw,40px);
    color: #FFFFFF;
    position: static;
    z-index: 1;
    /* width: min(500px, 100%); */
}

.containerAccueil {
   flex-direction: column;
    position: relative;
    border: 4px solid red;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.containerResponsive{
    padding: 2%;
    width: min(500px, 100%);
    border: 4px solid yellow;
    justify-content:flex-end;
    align-self: flex-end;
}

h1{
    /* text-align: center; */
    z-index: 1;
}

.hashtagResponsive{
display: none;
}

.hashtagPhone{
    display: block;
    position: absolute;
    left: -100px;
    transform: rotate(10deg);

}



}








/*************************** 754PX****************************/
/**************************************************************/

@media (max-width: 754px){

    .containerResponsive{
        margin-top: 10%;
    }

}



/*************************** 725PX****************************/
/**************************************************************/

@media (max-width: 725px){
    /**********************************************************/
    /****************** SECTION 4 - SPOTLIGHT*******************/


    .h2Spotlight{
    margin-bottom: 20px;
    }

    .section4{
        justify-content: space-between;
        margin-left: 0%;
        margin-right: 0%;
        flex-wrap: wrap-reverse;
    }




    /**************************************************************/
    /****************** SECTION 5 - NOTRE MISSION*******************/

    /* PARTIE 1 */

    /* .canapeResponsive{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    } */

    /* .canape{
        display: none;
    } */


    /* PARTIE 2 */
    .scandaliser{
        width: 100%;
    }

    .hashtag{
        display: none;
    }
}





/*************************** 613PX****************************/
/**************************************************************/

@media (max-width: 613px){
/*********************************************************/
/****************** SECTION 1 - ACCUEIL *******************/

.logo{
    justify-content: flex-start;
    align-items: center;
}

header{
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
    margin-bottom: 100px;
}


.introAccueil{
    font-weight: 600;
    font-size: clamp(18px, 10vw, 25px);
    line-height: clamp(20px, 10vw,40px);
    color: #FFFFFF;
    position: static;
    z-index: 1;
    /* width: min(500px, 100%); */
}

.containerAccueil {
   flex-direction: column;
    position: relative;
    height: 500px;
    border: 4px solid red;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.containerResponsive{
    padding: 2%;
    width: min(400px, 100%);
    border: 4px solid yellow;
    justify-content:center;
    align-items: center;
    align-self: center;
  
}

h1{
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 1;
    margin-bottom: 80px;
}

.hashtagResponsive{
display: none;
}

.hashtagPhone{
    display: block;
    position: absolute;
    left: -100px;
    top: -50px;
    transform: rotate(15deg);

}
.introAccueil{
    text-align: center;
}




}







/*************************** 580PX****************************/
/**************************************************************/
@media (max-width: 580px){

    .logo{
        justify-content: center;
        align-items: center;
    }
    

    .introAccueil{
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
  
    }
    /**************************************************************/
    /****************** SECTION 5 - NOTRE MISSION*******************/
    .donnerForce{
     margin-bottom:  200px;
    }


    /*****************************************************/
    /****************** SECTION 6 - FAQ *******************/
    input:checked ~ .content{
    height: 450px;
    opacity: 1;
    }

}






/*************************** 410PX****************************/
/**************************************************************/
@media (max-width: 410px){

    /*********************************************************/
    /****************** SECTION 1 - ACCUEIL *******************/
    

    header{
        margin-top: 10px;
        margin-left: 0px;
        gap: 5px;
        margin-bottom: 100px;
    }
    
    
    .introAccueil{
        font-weight: 600;
        font-size: clamp(18px, 10vw, 25px);
        line-height: clamp(20px, 10vw,40px);
        color: #FFFFFF;
        position: static;
        z-index: 1;
        /* width: min(500px, 100%); */
    }
    
    .containerAccueil {
       flex-direction: column;
        position: relative;
        height: 500px;
        border: 4px solid red;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    .containerResponsive{
        padding: 2%;
        width: min(400px, 100%);
        border: 4px solid yellow;
        justify-content:center;
        align-items: center;
        align-self: center;
      
    }
    
    h1{
        font-size: 50px;
        line-height: 52px;
        text-align: center;
        z-index: 1;
        margin-bottom: 80px;
    }
    
    .hashtagResponsive{
    display: none;
    }
    
    .hashtagPhone{
        display: none;
    }

     .hashtahPhonePetit{
        display: block;
        position: absolute;
        left: -20px;
        top: -50px;
        transform: rotate(deg);
    }
    
    
    
    
    
    





    /**************************************************************/
    /****************** SECTION 2 - INTRODUCTION*******************/
    .cercleContainer{
    width: 100%;
    height: auto;
    padding: 10%;
    border-radius: 0%;
    }
}
